:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-light-gray);
  font-size: 1.5rem;
  margin: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

p {
  padding: 0;
  margin: 0;
  color: var(--color-grayish-blue);
  opacity: 0.7;
}

.container {
  margin: 8rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 320px;
  height: 500px; */
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
}

.card {
  width: 250px;
  padding: 2rem 2rem 4.5rem 2rem;
  border-radius: 25px;
}

.card__image {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background: url("/fm-qr-challenge/images/image-qr-code.png");
  background-size: 100% 280px;
}

.card--white {
  background: var(--color-white);
}

.card__content {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card--gray {
  color: var(--color-grayish-blue);
}

.card__heading {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
}

.card__heading--blue {
  color: var(--color-dark-blue);
}

@media screen and (min-width: 1440px) {
  .card {
    width: 270px;
  }
  .card__content {
    font-size: 1.2rem;
  }

  .card__image {
    height: 200px;
    background-size: 100% 200px;
  }
}
